<!doctype html>
html
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, maximum-scale=1.0"
    meta name="author" content="Sean Lang"
    meta name="description" content=input.description

    title -- ${input.title}

    link rel="mask-icon" href="/img/logo-mask.svg" color="#bd1c21"
    link rel="canonical" href="https://bellasurfaces.com${input.url}"
    meta property="og:locale" content="en_US"
    meta property="og:type" content="article"
    meta property="og:title" content=input.title
    meta property="og:description" content="Bella Surfaces, Inc. has over 20 years of combined experience in installing custom surfaces in Kitchens, Bathrooms, Playrooms and Commercial facilities throughout the New England area. Installations include countertops, bathroom vanities, bars, fireplaces, reception areas, commercial surfaces, and many, many more. We strive to offer the best customer service in combination with our courteous professional installation"
    meta property="og:site_name" content="Bella Surfaces, Inc."

    link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat"
    link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Questrial:400,300"
    link rel="stylesheet" type="text/css" href="/css/index.css"

  $ var bodyId = input.url.replace('/', '').replace(/\//g, '-');
  body id="${bodyId}"
    header
      a#logo href="/" title="Quality through Pride"
        img src="/img/logo.svg" alt="Bella Surfaces, Inc."
      nav
        ul
          for(page in input.pageList)
            li
              a href=page.url -- ${page.title}
      span#nav-button
        span
        span
        span
        span

    include(input.body)

    footer
      div.footer-column
        h3 -- About Us
        p -- Bella Surfaces, Inc. has over 20 years of combined experience in installing custom surfaces in Kitchens, Bathrooms, Playrooms and Commercial facilities throughout the New England area. As seen in "This Old House" Newton, MA Project December 2017. Bella Surfaces, Inc. specializes in countertops, bathroom vanities, bars, fireplaces, reception areas, commercial surfaces, and many, many more. We strive to offer the best customer service in combination with our courteous professional installation teams.
        a title="Yelp Review" href="https://www.yelp.com/biz/bella-surfaces-north-billerica"
          img alt="Yelp Review" src="/img/yelp-seal.svg"
        a title="Bella Surfaces, Inc. BBB Business Review" href="http://www.bbb.org/boston/business-reviews/countertops/bella-surfaces-in-north-billerica-ma-131724"
          img alt="Bella Surfaces, Inc. BBB Business Review" src="/img/bbb-accredited-seal.svg"

      div.footer-column
        h3 -- Vendors
        ul#vendor-list
          li
            a href="http://www.avonitesurfaces.com/"
              -- Avonite Surfaces
          li
            a href="https://www.cambriausa.com/"
              -- Cambria Surfaces
          li
            a href="http://www.caesarstoneus.com/"
              -- Caesarstone Quartz Surfaces
          li
            a href="http://www2.dupont.com/Surfaces/en_US/index.html"
              -- Dupont Zodiaq
          li
            a href="http://www2.dupont.com/Corian_Global_Landing/en_US/index.html"
              -- DuPont Corian
          li
            a href="http://www.lghausys.com/us/product/surfaces/sub_himacs.jsp"
              -- HI-MACS® Acrylic Solid Surface
          li
            a href="http://www.quartzmasters.com/"
              -- Quartz Master
          li
            a href="http://www.silestoneusa.com/"
              -- Silestone
          li
            a href="http://www.lgviaterausa.com/"
              -- LG Viatera Quartz Surface

    div#lower-footer
      p#lower-left-text
        a.social href="http://www.facebook.com/pages/Bella-SurfacesLLC/203037773334" title="Facebook"
          img src="/img/facebook.svg"
        //a.social href="http://twitter.com/" title="Twitter"
        //  img src="/img/twitter.svg"
        //a.social href="http://instagram.com/" title="Instagram"
        //  img src="/img/instagram.svg"
      p#lower-right-text -- Design by <a href="http://animal57.co">animal57</a>

    if(input.url == '/contact')
      script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjWajPwNOcp_rlgJIiEG8Xe8qj2IL18oM"
      script type="text/javascript" --
        var style = {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            {
              saturation: 0
            },
            {
              gamma: 0.5
            }
          ]
        }
        var styledMap = new google.maps.StyledMapType([style], {name: 'Styled Map'})
        var mapOptions = {
          center: new google.maps.LatLng('42.592204', '-71.284101'),
          zoom: 12,
          mapTypeControl: true,
          streetViewControl: true,
          disableDefaultUI: true,
          scrollwheel: false,
          zoomControl: true,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
          },
          navigationControl: true,
          navigationControlOptions: {
            style: google.maps.NavigationControlStyle.SMALL
          },
          mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById('contact-map'), mapOptions)
        var contentString = '<div class="infoWindow">71 Faulkner St\r\nNorth Billerica, MA 01862<form method="get" action="http://maps.google.com/maps"><input type="hidden" name="daddr" value="71 Faulkner St. North Billerica, MA 01862" /><input type="text" class="text" name="saddr" /><input type="submit" class="submit" value="Directions" /></form></div>'
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        })
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng('42.592204', '-71.284101'),
          clickable: false,
          map: map,
          icon: {
            url: '/img/map-pin.png',
            size: new google.maps.Size(27, 37)
          }
        })
        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map, marker)
        })
        map.mapTypes.set('map_style', styledMap)
        map.setMapTypeId('map_style')
    else if(input.url == '/services')
      script type="text/javascript" --
        var serviceImages = document.querySelectorAll('body#services > p > img')
        for (j = 0, len = serviceImages.length; j < len; j++) {
          var element = serviceImages[j]
          var parent = element.parentNode
          var grandParent = parent.parentNode
          grandParent.insertBefore(element, parent)
          grandParent.removeChild(parent)
        }

    script type="text/javascript" --
      bodyElement = document.querySelector('body')
      document.getElementById('nav-button').addEventListener('click', function () {
        bodyElement.classList.toggle('menu-active')
      })

    script type="text/javascript" --
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '${input.googleAnalyticsId}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
